@page "Date/{year:int}/{month:int}/{day:int}"
@model ManagementPlus.Pages.Reports.DailyReportModel
@using ManagementPlus.Extensions
@{
    ViewData["Title"] = "Daily Report";
}

<h1>Daily Report</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReportDate)
    </dt>
    <dd class="col-sm-10">
        <form method="post" class="row">
            <div class="col-sm-3">
                <input asp-for="ReportDate" class="form-control" />
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Items[0].Developer)
            </th>
            <th>
                Task
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Items[0].Worked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Items[0].Report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Items[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyReport[0].Items[0].Reason)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.DailyReport)
        {
            <tr>
                <td colspan="7">
                    @Html.DisplayFor(modelItem => project.Project.Name)
                </td>
            </tr>
            @foreach (var ic in project.Items)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => ic.Developer)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => ic.Worked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ic.Report)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ic.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ic.Reason)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2"></td>
                <td>
                    Total @Html.DisplayFor(modelItem => project.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.TotalWorked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.TotalReport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.TotalDiscount)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>