@page "{id:guid}"
@model ManagementPlus.Pages.HourReports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hour Report</h4>
<hr />
<dl class="row">
    <dt class="col-sm-3">
        Project @Html.DisplayNameFor(model => model.Project.Name)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Project.Name)
    </dd>
    <dt class="col-sm-3">
        Individual Contributor @Html.DisplayNameFor(model => model.IndividualContributor.FullName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.IndividualContributor.FullName)
    </dd>
</dl>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HourReport.Id" />
            <input type="hidden" asp-for="HourReport.ProjectId" />
            <input type="hidden" asp-for="HourReport.IndividualContributorId" />
            <div class="form-group">
                <label asp-for="HourReport.DateOfIssue" class="control-label"></label>
                <input asp-for="HourReport.DateOfIssue" class="form-control" />
                <span asp-validation-for="HourReport.DateOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourReport.ReportedTime" class="control-label"></label>
                <input asp-for="HourReport.ReportedTime" class="form-control" />
                <span asp-validation-for="HourReport.ReportedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourReport.LinkToTicketManager" class="control-label"></label>
                <input asp-for="HourReport.LinkToTicketManager" class="form-control" />
                <span asp-validation-for="HourReport.LinkToTicketManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourReport.Description" class="control-label"></label>
                <input asp-for="HourReport.Description" class="form-control" />
                <span asp-validation-for="HourReport.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourReport.DiscountTime" class="control-label"></label>
                <input asp-for="HourReport.DiscountTime" class="form-control" />
                <span asp-validation-for="HourReport.DiscountTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourReport.DiscountReason" class="control-label"></label>
                <input asp-for="HourReport.DiscountReason" class="form-control" />
                <span asp-validation-for="HourReport.DiscountReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"
       asp-route-year="@Model.HourReport.DateOfIssue.Year"
       asp-route-month="@Model.HourReport.DateOfIssue.Month"
       asp-route-day="@Model.HourReport.DateOfIssue.Day"
       asp-route-projectId="@Model.HourReport.ProjectId"
       asp-route-individualContributorId="@Model.HourReport.IndividualContributorId">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
