@page "Project/{projectId:guid}/IndividualContributor/{individualContributorId:guid}/Date/{year:int}/{month:int}/{day:int}"
@model ManagementPlus.Pages.HourReports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Daily Report</h1>

<div>
    <h4>@Model.ReportDate.ToLongDateString()</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Project @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-3">
            Individual Contributor @Html.DisplayNameFor(model => model.IndividualContributor.FullName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IndividualContributor.FullName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class="col-sm-9">
            <form method="post" class="row">
                <input type="hidden" asp-for="IndividualContributor.Id" />
                <input type="hidden" asp-for="Project.Id" />
                <div class="col-sm-3">
                    <input asp-for="ReportDate" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </dd>
    </dl>
</div>

<p>
    <a asp-page="Create"
       asp-route-year="@Model.Year"
       asp-route-month="@Model.Month"
       asp-route-day="@Model.Day"
       asp-route-projectId="@Model.Project.Id"
       asp-route-individualContributorId="@Model.IndividualContributor.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].ReportedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].LinkToTicketManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].DiscountTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReports[0].DiscountReason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HourReports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkToTicketManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountReason)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
