@page
@model ManagementPlus.Pages.HourReports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].ReportedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].LinkToTicketManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].DiscountTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourReport[0].DiscountReason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HourReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkToTicketManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountReason)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
